<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.jobs"
          android:versionCode="7"
          android:versionName="1.4">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
                 android:name=".GithubJobsApplication"
                 android:theme="@style/Theme.GithubJobs">
        <activity android:name=".ui.activity.HomeActivity" android:label="@string/github_jobs"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.dialog.SearchDialog" android:theme="@style/Theme.GithubJobs.Dialog"
                  android:label="@string/search_title"/>
        <activity android:name=".ui.dialog.SubscribeDialog" android:theme="@style/Theme.GithubJobs.Dialog"
                  android:label="@string/subscribe_by_email"/>
        <activity android:name=".ui.dialog.HowToApplyDialog" android:theme="@style/Theme.GithubJobs.Dialog"
                  android:label="@string/how_to_apply"/>
        <activity android:name=".ui.dialog.AboutDialog" android:theme="@style/Theme.GithubJobs.Dialog.NoTitle"
                  android:label="@string/about_this_app"/>
        <activity android:name=".ui.dialog.ServiceChooserDialog" android:theme="@style/Theme.GithubJobs.Dialog"
                  android:label="@string/service_chooser"/>
        <activity android:name=".ui.activity.JobDetailsActivity" android:label="@string/job_details"/>
        <activity android:name=".ui.activity.TemplatesActivity" android:label="@string/cover_letters_list"/>
        <activity android:name=".ui.activity.EditTemplateActivity" android:label="@string/edit_cover_letter"/>
        <activity android:name=".ui.activity.SOUserPickerActivity" android:label="@string/so_user_picker"/>
        <activity android:name=".ui.dialog.SOUserDialog" android:theme="@style/Theme.GithubJobs.Dialog"
                  android:label="@string/about_this_app"/>
        <activity android:name="com.crittercism.NotificationActivity"/>
        <service android:name="com.codeslap.groundy.GroundyService">
            <meta-data android:name="groundy:mode" android:value="async"/>
        </service>
    </application>
</manifest>